/Proyecto 1 version Netbeans 17/Proyecto 1/ide-triangle-v1.1.src/dist/
/Proyecto 1 version Netbeans 17/Proyecto 1/ide-triangle-v1.1.src/nbproject/private/
/Proyecto 1 version Netbeans 17/Proyecto 1/ide-triangle-v1.1.src/build/
/Proyecto 1 - Copia/ide-triangle-v1.1.src/dist/
/Proyecto 1 - Copia/ide-triangle-v1.1.src/build/
